<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AFTER-Nosotros</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<header class="navBack">
		<div id="top">
			<img class="logo" src="../assets/img/manicure.png" alt="logo sitio"></div>	
		<nav>
			<ul class="menu">
			    <li class="item"><a href="../index.html">Inicio</a></li>
			    <li class="item"><a href="../views/nosotros.html">Nosotros</a></li>
			    <li class="item"><a href="../views/servicios.html">Servicios</a>
			        <ul class="submenu">
			            <li class="sub_i"><a href="../views/servicios.html">Spa</a></li>
			            <li class="sub_i"><a href="../views/servicios.html">Esculpidas</a></li>
						<li class="sub_i"><a href="../views/servicios.html">Esmaltado</a></li>
			        </ul>
			    </li>
			    <li class="item"><a href="../views/contacto.html">Contacto</a></li>
			</ul> 
		</nav>
	</header>
	<main>
		<h2>NOSOTROS</h2>
	</main>
	<footer>
		<h5>Todos los derechos reservados R® </h5>
	</footer>
</body>
</html>